<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Meu Perfil | Centro Médico Saúde & Vida</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

</head>

<body>

<header class="topbar">
  <div class="cont">

    <div class="logo-area">
      <img src="IMG/logo.png" alt="Logo Médica" class="logo">
      <h1 class="medic-name">Centro Médico Saúde & Vida</h1>
    </div>

    <!-- AGRUPA AQUI -->
    <div class="right-icons">
      <!-- BOTÃO HAMBURGUER -->
      <div class="hamburger" id="hamburger">
        ☰
      </div>

      <!-- BOTÃO SAIR -->
      <div class="login">
        <a href="login.html">
          <img src="img/login.png" alt="Sair">
        </a>
      </div>
    </div>

    <!-- MENU -->
    <nav class="menu" id="menu">
      <ul>
        <li><a href="painel_cliente.html">Home</a></li>
        <li><a href="agendamentos.html">Agendamentos</a></li>
        <li><a href="planos.html">Planos</a></li>
        <li><a href="trabalhe_conosco.html">Trabalhe Conosco</a></li>
      </ul>
    </nav>

  </div>
</header>


<div class="container">
    <div class="card">
        <h2>MEU PERFIL</h2>

        <label>NOME COMPLETO</label>
        <input type="text" placeholder="Digite seu nome">

        <label>EMAIL</label>
        <input type="email" placeholder="Digite seu email">

        <label>CPF</label>
        <input type="text" placeholder="Digite seu CPF">

        <label>TELEFONE</label>
        <input type="text" placeholder="Digite seu telefone">

    </div>
</div>

<script>
// HAMBURGUER
const hamburger = document.getElementById("hamburger");
const menu = document.getElementById("menu");

hamburger.addEventListener("click", () => {
  menu.classList.toggle("active");
});


</script>


</body>
</html>